<h4>Menu</h4>
<nav>
	<ul>
		<li><a href="@routes.Reports.entriesPerCustomerPerProjectPerWeek()">Entries per customer, per project, per week</a></li>
		<li><a href="@routes.Reports.entriesPerUserPerWeek()">Entries per user, per week</a></li>
		<li><a href="@routes.Reports.assignmentTotalsPerUser()">Totals per user</a></li>
		<li><a href="@routes.Reports.entriesPerWeek()">Entries per week</a></li>
		<li><a href="@routes.Reports.entriesTablePerProjectPerDay()">Entries table per project, per day</a></li>
	</ul>
</nav>