@(projectForm: Form[Project])

@import helper._
@import helper.twitterBootstrap._

@main("Project") {
	
	@if(flash.containsKey("error")) {
    	<div class="alert-message error">
            <strong>Oops!</strong> @flash.get("error")
        </div>
    }
    
    @form(routes.Projects.create()) {
    	
    	@inputText(projectForm("name"), '_label -> "Name")
    	
    	@inputText(projectForm("code"), '_label -> "Code")
    	
    	@inputText(projectForm("description"), '_label -> "Description")
    	
    	@select(projectForm("type"), options(Project.types), '_label -> "Type")

    	@select(projectForm("customer.id"), options(Customer.options), '_label -> "Customer")
    	
    	@inputText(projectForm("customerContact"), '_label -> "Customer contact")
    	
    	@select(projectForm("projectManager.id"), options(User.options), '_label -> "Project Manager")

    	@checkbox(projectForm("defaultProject"), '_label -> "Default Project")
    	
    	<input type="submit" value="Submit">
    	<a href="@routes.Projects.all()">Cancel</a>
    	
    }
} {
	@sidebar.adminMenu()
}