@(projects: List[Project])

@import helper._

@main("Projects") {
	
	@if(projects.isEmpty) {
	    <div class="alert-message warning">
            No projects!
        </div>
	} else {
		<ul>
			@for(project <- projects) {
		  		<li>
		  			<a href="@routes.Projects.edit(project.id)">@project.name</a>	  				  			
		  			<a href="@routes.ProjectAssignments.create(project.id)">Add project member</a>
		  			@form(routes.Projects.delete(project.id)) {
		  				<input type="submit" value="Delete project">
		  			}
		  			
		  			@if(project.assignments.isEmpty) {
		  			    <div class="alert-message warning">
           	 				No project members!
        				</div>
		  			} else {
		  				<ul class="assignments">
		  					@for(assignment <- project.assignments) {
		  						<li>
		  							<a href="@routes.ProjectAssignments.edit(project.id, assignment.id)">@assignment.user.fullname</a> 
		  							
		  							@form(routes.ProjectAssignments.delete(assignment.id)) {
		  								<input type="submit" value="Delete">
		  							}
		  						</li>
		  					}
		  				</ul>
		  			}
		  		</li>
	  		}
		</ul>
	}
	
	<a href="@routes.Projects.add()" class="button add">Add Project</a>

} {
	@sidebar.adminMenu()
}