@(week: datastructures.overview.week.Week)

@import helper._
@import utils.DateUtil

@script = {
	<script type="text/javascript" src="@routes.Assets.at("javascripts/week-hour-entries.js")"></script>
}

@main("Enter hours per week", script, menus.userMenu()) {

	<a href="@routes.HourEntries.addForWeek(week.getWeekyearPreviousWeek, week.getWeekOfWeekyearPreviousWeek)">Previous week</a>
	<a class="next-week" href="@routes.HourEntries.addForWeek(week.getWeekyearNextWeek, week.getWeekOfWeekyearNextWeek)">Next week</a>
	
   	@if(!week.getErrors.isEmpty) {
   		<div class="alert-message error">
   		@for(fieldErrors <- week.getErrors) {
           	Your input on @if(fieldErrors._1.date != null) {@DateUtil.formatDate(fieldErrors._1.date, "E d-M"),} @if(fieldErrors._1.assignment.project != null) {@fieldErrors._1.assignment.project.code} contained the following errors:    		
   			<ul>
   				@for(error <- fieldErrors._2) {
   					<li>@error</li>
   				}
   			</ul>
   		}
   		</div>
   	}

   	<div id="hours-not-saved-warning" class="alert-message warning">
		You have edited some fields but your changes aren't saved yet
   	</div>

   	@form(routes.HourEntries.createForWeek(week.getWeekyear, week.getWeekOfWeekyear), 'id -> "entriesForm") {
		<input name="weekyear" type="hidden" value="@week.getWeekyear">
		<input name="weekOfWeekyear" type="hidden" value="@week.getWeekOfWeekyear">
		<table id="weekOverview" class="clearfix">
			<thead>
				<tr>
					<th></th>
					@for(day <- week.getDays) {
					<th><a href="@routes.HourEntries.createForDay(day)">@DateUtil.formatDate(day, "E d-M")</a></th>
					}
					<th></th>
				</tr>
			</thead>
			<tbody>
				@for(assignment <- week.getAssignments().toList) {
				<tr class="assignment">
					<td>@assignment.project.name</td>
					@for(day <- week.getDays) {
					<td class="day">
						@for(hourEntry <- week.getHourEntries(assignment, day)) {
						<span class="entry @if(hourEntry.hasErrors) {error}">
							<input name="hourEntries[x].id" type="hidden" value="@hourEntry.id" />
				    		<input name="hourEntries[x].assignment.id" type="hidden" value="@hourEntry.assignment.id" />
				    		<input name="hourEntries[x].date" type="hidden" value="@DateUtil.formatDate(hourEntry.date)" />
				    		<input name="hourEntries[x].hours" type="text" value="@hourEntry.hours" />:
				    		<input name="hourEntries[x].minutes" type="text" value="@hourEntry.minutes"/>
				    		<input name="hourEntries[x].tagsString" type="hidden" value="@hourEntry.tagsString" />
				    	</span>
						}
						<span class="entry">
					    	<input name="hourEntries[x].assignment.id" type="hidden" value="@assignment.id" />
					    	<input name="hourEntries[x].date" type="hidden" value="@DateUtil.formatDate(day)" />
					    	<input class="hours" name="hourEntries[x].hours" type="text" />:
					    	<input class="minutes" name="hourEntries[x].minutes" type="text" />
					    	<input name="hourEntries[x].tagsString" type="hidden" />
					    </span>
					    <span class="addEntry ui-icon ui-icon-plus"></span>
					</td>
					}
					<td class="total"></td>
				</tr>
				}
				<tr class="assignment template hidden">
					<td class="projectName"></td>
					@for(day <- week.getDays) {
					<td class="day">
						<span class="entry">
					    	<input class="assignmentId" name="hourEntries[x].assignment.id" type="hidden" />
					    	<input name="hourEntries[x].date" type="hidden" value="@DateUtil.formatDate(day)" />
					    	<input class="hours" name="hourEntries[x].hours" type="text" />:
					    	<input class="minutes" name="hourEntries[x].minutes" type="text" />
					    </span>
					    <span class="addEntry ui-icon ui-icon-plus"></span>
					</td>
					}
					<td class="total"></td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td>Totals</td>
					@for(day <- week.getDays) {
					<td class="dayTotal"></td>
					}
					<td class="total"></td>
				</tr>
			</tfoot>
    	</table>

    	<div class="clearfix">
	    	<select id="assignments" name="assignment.id">
	    		<option class="blank" value="">Choose a Project</option>
		        @ProjectAssignments.optionsForCurrentUser().map { v =>
		            <option value="@v._1">@v._2</option>
		        }
	    	</select>
			<a class="addAssignment btn">Add project</a>
		</div>
    	<input class="btn btn-primary" type="submit" value="Submit">
   	}

}