@(userId: Long, entriesForm: Form[util.form.binding.HourEntriesList], indices: List[Integer])

@import helper._
@import helper.twitterBootstrap._

@entry(form: Form[util.form.binding.HourEntriesList], index: Integer, className: String = "entry") = {
	<div class="@className">
		@select(form("hourEntries[" + index + "].assignment.id"), options(User.assignments(userId)), '_label -> "Project")

		@inputDate(form("hourEntries[" + index + "].date"), '_label -> "Date")
		
		@inputText(form("hourEntries[" + index + "].hours"), '_label -> "Hours")
		
		@inputText(form("hourEntries[" + index + "].minutes"), '_label -> "Minutes")
		
		<div class="clearfix" id="tags_string_field">
			<label for="tags_string">Tags</label>
			<div class="input">
				<input type="text" name="hourEntries[@index].tagsString" value="@entriesForm.data.get("hourEntries[" + index + "].tagsString")">
			</div>
		</div>
		<div class="input">
			<a class="removeEntry btn danger">Remove</a>
		</div>
    </div>
}

@main("Enter hours") {
	
	@if(flash.containsKey("error")) {
    	<div class="alert-message error">
            <strong>Oops!</strong> @flash.get("error")
        </div>
    }    
    
    @form(routes.HourEntries.createMultiple(userId), 'id -> "form") {   
    
    	<div class="entries">
    	    @for(index <- indices) {
    	    	@entry(entriesForm, index)
    	    }

			@entry(entriesForm, -1, "entry_template")
	    	    
    	    <div class="input">
    	    	<a class="addEntry btn success">Add another entry</a>
    	    </div>
    	        	    
    	    <input type="submit" value="Submit">
			<a href="@routes.Users.read(userId)">Cancel</a>
    	</div>

	}
	
	<script type="text/javascript" charset="utf-8">
	
        $('.removeEntry').live('click', function(e) {
            var entries = $(this).parents('.entries')
            $(this).parents('.entry').remove()
            renumber(entries)
        })
        
        $('.addEntry').live('click', function(e) {
            var entries = $(this).parents('.entries')
            var template = $('.entry_template', entries)
            template.before('<div class="entry">' + template.html() + '</div>')
            renumber(entries)
        })
        
        $('#form').submit(function() {
            $('.entry_template').remove()
        })
        
        var renumber = function(entries) {
			$('.entry', entries).each(function(i) {
				$('input, select', this).each(function() {
					$(this).attr('name', $(this).attr('name').replace(/hourEntries\[.+\]/g, 'hourEntries[' + i + ']'))	
				})
			})
		}
        
    </script>

} {
	@sidebar.userMenu(userId)
}