@(userId: Long, entriesForm: Form[util.datastructures.HourEntriesList], indices: List[Integer])

@import helper._
@import helper.twitterBootstrap._

@entry(form: Form[util.datastructures.HourEntriesList], index: Integer, className: String = "entry") = {
	<div class="@className">
		@select(form("hourEntries[" + index + "].assignment.id"), options(ProjectAssignment.optionsFor(userId)), '_label -> "Project")

		@inputDate(form("hourEntries[" + index + "].date"), '_label -> "Date")
		
		@inputText(form("hourEntries[" + index + "].hours"), '_label -> "Hours")
		
		@inputText(form("hourEntries[" + index + "].minutes"), '_label -> "Minutes")
		
		<div class="clearfix" id="tags_string_field">
			<label for="tags_string">Tags</label>
			<div class="input">
				<input type="text" class="autocomplete" name="hourEntries[@index].tagsString" value="@entriesForm.data.get("hourEntries[" + index + "].tagsString")" data-url="@routes.Tags.find">
				<span class="help-block">Please use the same tags for the same type of work. So do not use 'test' and 'testing'</span>
			</div>
		</div>
		<div class="input">
			<a class="removeEntry btn btn-danger">Remove</a>
		</div>
    </div>
}

@script = {
	<script type="text/javascript" src="@routes.Assets.at("javascripts/multipleHourEntries.js")"></script>
}

@main("Enter hours", script = script) {
	
	@if(entriesForm.hasGlobalErrors()) {
    	<div class="alert-message error">
            <strong>Oops!</strong> @entriesForm.globalError().message
        </div>
    }   
        
    @form(routes.HourEntries.createMultiple(userId), 'id -> "entriesForm") {   
    
    	<div class="entries">
    	    @for(index <- indices) {
    	    	@entry(entriesForm, index)
    	    }

			@entry(entriesForm, -1, "entry_template")
	    	    
    	    <div class="input">
    	    	<a class="addEntry btn">Add another entry</a>
    	    </div>
    	        	    
    	    <input class="btn btn-primary" type="submit" value="Submit">
			<a class="btn" href="@routes.Users.read(userId)">Cancel</a>
    	</div>

	}

} {
	@sidebar.userMenu(userId)
}