@(userId: Long, entryForm: Form[HourEntry])

@import helper._
@import helper.twitterBootstrap._

@main("Enter hours") {
	
	@if(flash.containsKey("error")) {
    	<div class="alert-message error">
            <strong>Oops!</strong> @flash.get("error")
        </div>
    }
    
    @form(routes.HourEntries.create(userId)) {
    
    	@select(entryForm("assignment.id"), options(User.assignmentsFor(userId)), '_label -> "Project")

		@inputDate(entryForm("date"), '_label -> "Date")
		
		@inputText(entryForm("hours"), '_label -> "Hours")
		
		@inputText(entryForm("minutes"), '_label -> "Minutes")
		
		<div class="clearfix" id="tags_string_field">
			<label for="tags_string">Tags</label>
			<div class="input">
				<input type="text" class="autocomplete" name="tagsString" value="@entryForm.data.get("tagsString")" data-url="@routes.Tags.find">
				<span class="help-block">Please use the same tags for the same type of work. So do not use 'test' and 'testing'</span>
			</div>
		</div>
		
		<input type="submit" value="Submit">
		<a href="@routes.Users.read(userId)">Cancel</a>

	}

} {
	@sidebar.userMenu(userId)
}