@(userId: Long, entryForm: Form[HourEntry])

@import helper._
@import helper.twitterBootstrap._

@main("Enter hours") {
	
	@if(flash.containsKey("error")) {
    	<div class="alert-message error">
            <strong>Oops!</strong> @flash.get("error")
        </div>
    }
    
    @form(routes.HourEntries.create(userId)) {
    
    	@select(entryForm("assignment.id"), options(User.assignments(userId)), '_label -> "Project")

		@inputDate(entryForm("date"), '_label -> "Date")
		
		@inputText(entryForm("hours"), 'value -> "1", '_label -> "Hours")
		
		@inputText(entryForm("minutes"), '_label -> "Minutes")
		
		<div class="clearfix" id="tags_string_field">
			<label for="tags_string">Tags</label>
			<div class="input">
				<input type="text" name="tagsString">
			</div>
		</div>

		<input type="submit" value="Submit">
		<a href="@routes.Users.read(userId)">Cancel</a>

	}

} {
	@sidebar.userMenu(userId)
}