@(userId: Long, weekOverview: datastructures.overview.week.WeekTable)

@import helper._
@import helper.twitterBootstrap._
@import scala.collection.immutable.List
@import util.DateTimeUtil

@script = {
	<script type="text/javascript" src="@routes.Assets.at("javascripts/weekHourEntries.js")"></script>
}

@main("Enter hours per week", script = script) {
	
	@if(flash.containsKey("error")) {
    	<div class="alert-message error">
            <strong>Oops!</strong> @flash.get("error")
        </div>
    }
        
    @if(weekOverview.assignmentRows.isEmpty) {
    	No entries
    } else {
    	@form(routes.HourEntries.createForWeek(userId), 'id -> "entriesForm") {
		    <table id="weekOverview">
		    	<thead>
			    	<tr>
			    		<th></th>
			    		@for(day <- weekOverview.assignmentRows.get(0).days) {
			    			<th>@DateTimeUtil.formatDate(day.date, "E d-M")</th>
			    		}
			    	</tr>
		    	</thead>
		    	</tbody>
				   	@for((assignment, assignmentIndex) <- weekOverview.assignmentRows.zipWithIndex) {
				    	<tr class="assignment">
				    		<td>@assignment.assignment.project.code</td>
					    		@for((day, dayIndex) <- assignment.days.zipWithIndex) {
					    			<td class="day">						    			
						    				@for((entry, entryIndex) <- day.entries.zipWithIndex) {
						    		   			<span class="entry">
						    		   				<input name="hourEntries[x].id" type="hidden" value="@entry.id" />
						    		   				<input name="hourEntries[x].assignment.id" type="hidden" value="@entry.assignment.id" />
						    		   				<input name="hourEntries[x].date" type="hidden" value="@DateTimeUtil.formatDate(entry.date)" />
						    		   				<input name="hourEntries[x].hours" type="text" value="@entry.hours" />:
						    		   				<input name="hourEntries[x].minutes" type="text" value="@entry.minutes"/>
						    		   			</span>
						    		   		}
											<span class="entry">
						    					<input name="hourEntries[x].assignment.id" type="hidden" value="@assignment.assignment.id" />
						    		   			<input name="hourEntries[x].date" type="hidden" value="@DateTimeUtil.formatDate(day.date)" />
						    		   			<input name="hourEntries[x].hours" type="text" />:
						    		   			<input name="hourEntries[x].minutes" type="text" />						    		   			
						    		   		</span>	
					    		   	</td>
					    		}
					    	<td>@assignment.assignmentTotals.hoursMinutes</td>
				    	</tr>
				    }
				    <tr>
				    	<td></td>
				    	@for(dayTotals <- weekOverview.daysTotals) {
				    		<td>@dayTotals.hoursMinutes</td>
				    	}
				    </tr>
				    
			    </tbody>
		    </table>
		    <input class="btn btn-primary" type="submit" value="Submit">
		    
		}
	}
} {
	@sidebar.userMenu(userId)
}