@(userId: Long, entryForm: Form[HourEntry], date: org.joda.time.LocalDate, entries: List[HourEntry], totals: datastructures.TotalsDay)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(template.customInput.render) } 

@import utils.CalculationUtil
@import utils.DateUtil


@main("Enter hours for " + DateUtil.formatDate(date)) {
	
	@if(entryForm.hasGlobalErrors()) {
    	<div class="alert-message error">
            <strong>Oops!</strong> @entryForm.globalError().message
        </div>
    }    
        
    @form(routes.HourEntries.createForDay(userId, date), 'id -> "entryForm", 'class -> "inline-entry-form") {
		<div class="entry">
			<div class="hidden-date">
				<div class="input">
					<input id="date" type="hidden" name="date" value="@DateUtil.formatDate(date)">
				</div>
			</div>
			
	    	@select(entryForm("assignment.id"), options(ProjectAssignment.optionsFor(userId)), '_label -> "", '_default -> "-- Choose a Project --", '_class -> "assignment")
				
			@inputText(entryForm("hours"), '_label -> "h", '_class -> "hours")
			
			@inputText(entryForm("minutes"), '_label -> "m", '_class -> "minutes")
			
			<div class="tags">
				<div class="input">
					<input type="text" class="autocomplete" name="tagsString" value="@entryForm.data.get("tagsString")" data-url="@routes.Tags.find">
					<!-- <span class="help-block">Please use the same tags for the same type of work. So do not use 'test' and 'testing'</span> -->
				</div>
			</div>
			
			<input class="btn btn-primary" type="submit" value="Submit">
			<a class="btn" href="@routes.Users.read(userId)">Cancel</a>
		</div>
	}
	
	@if(entries.isEmpty) {
		<div class="alert-message warning">
            No hours entered for this day!
        </div>
	} else {
		<p>Entered hours:</p>
		<table>
			<thead>
				<tr>
					<th>Project</th>
					<th>Time</th>
					<th>Tags</th>
				</tr>
			</thead>
			<tbody>
				@for(entry <- entries) {
					
					<tr>
						<td>@entry.assignment.project.name</td>
						<td><a href="@routes.HourEntries.edit(userId, entry.id)">@CalculationUtil.formatTotalHoursMinutes(entry.hours, entry.minutes)</a></td>
						<td>@entry.enteredTagsString()</td>
					</tr>
				}
				<tr>
					<td></td>
					<td>@totals.hoursMinutes</td>
					<td></td>
				</tr>
			</tbody>
		</table>
	}
	

} {
	@sidebar.userMenu(userId)
}