@(userId: Long, entryId: Long, entryForm: Form[HourEntry])

@import helper._
@import helper.twitterBootstrap._

@main("Hour entry") {

	<h1>Hour entry</h1>
	
	@if(flash.containsKey("error")) {
    	<div class="alert-message error">
            <strong>Oops!</strong> @flash.get("error")
        </div>
    }
    
    @form(routes.HourEntries.update(userId, entryId)) {
    
    	@select(entryForm("assignment.id"), options(User.assignmentsFor(userId)), '_label -> "Project")

		@inputDate(entryForm("date"), '_label -> "Date")
		
		@inputText(entryForm("hours"), '_label -> "Hours")
		
		@inputText(entryForm("minutes"), '_label -> "Minutes")
		
		<div class="clearfix" id="tags_string_field">
			<label for="tags_string">Tags</label>
			<div class="input">
				<input type="text" class="autocomplete" name="tagsString" value="@HourEntry.read(entryId).enteredTagsString" data-url="@routes.Tags.find">
			</div>
		</div>


		<input type="submit" value="Submit hours">
		
		

	}
	@form(routes.HourEntries.delete(userId, entryId)) {
		<input type="submit" value="Delete entered hours">
	}
	<a href="@routes.Users.read(userId)">Cancel</a>

} {
	@sidebar.userMenu(userId)
}