@(userId: Long, calendar: util.datastructures.calendar.CalendarMonth)

@import helper._

@main("Entered hours") {
	<table class="calendarOverview">
		@for(week <- calendar.weeks) {
			<tr class="week">
				@for(day <- week.days) {
					<td class="day">
						<div class="dayNumber">@org.joda.time.format.DateTimeFormat.forPattern("E d-M").print(day.date)</div>
						@for(entry <- day.hourEntries) {
							<div class="entry">
								<a href="@routes.HourEntries.edit(userId, entry.id)">
									@entry.assignment.project.code - <b>@entry.hours</b>h<b>@entry.minutes</b>m
								</a>
							</div>
						}
					</td>
				}
			</tr>
		}		
	</table>

} {
	@sidebar.userMenu(userId)
}