@(userId: Long, hourEntries: List[HourEntry])

@import helper._

@main("Entered hours") {

	@if(hourEntries.isEmpty) {
		<div class="alert-message warning">
        	You haven't entered hours yet!
        </div>
	} else {
		<ul>
			@for(hourEntry <- hourEntries) {
				<li>@org.joda.time.format.DateTimeFormat.forPattern("dd-MM-yyyy").print(hourEntry.date) - @hourEntry.assignment.project.name - @hourEntry.hours:@hourEntry.minutes - 
					<a class="entryEdit" href="@routes.HourEntries.edit(userId, hourEntry.id)">Edit</a> - 
					@form(routes.HourEntries.delete(userId, hourEntry.id)) {
						<input type="submit" value="Delete">
					}
				</li>
			}
		</ul>
	}

} {
	@sidebar.userMenu(userId)
}