@(userId: Long, entries: List[Map[String, _]])

@import helper._

@main("Entered hours this month") {

	@if(entries.isEmpty) {
		<div class="alert-message warning">
        	You haven't entered hours yet!
        </div>
	} else {
		<table>
			<thead>
				<tr>
					<th>Customer</th>
					<th>Project code</th>
					<th>Project</th>
					<th>Rate</th>
					<th>Hours</th>
					<th>Turnover</th>
				</tr>
			</thead>
			<tbody>
				@for(entry <- entries) {
					<tr>
						<td>@entry.get("assignment").asInstanceOf[ProjectAssignment].project.customer.name</td>
						<td>@entry.get("assignment").asInstanceOf[ProjectAssignment].project.code</td>
						<td>@entry.get("assignment").asInstanceOf[ProjectAssignment].project.name</td>
						<td>@entry.get("assignment").asInstanceOf[ProjectAssignment].hourlyRate</td>
						<td>@util.CalculationUtil.totalHoursMinutesFormatter(entry.get("hours").asInstanceOf[Long], entry.get("minutes").asInstanceOf[Long])</td>
						<td>@util.CalculationUtil.totalTurnover(entry.get("hours").asInstanceOf[Long], entry.get("minutes").asInstanceOf[Long], entry.get("assignment").asInstanceOf[ProjectAssignment].hourlyRate)</td>
					</tr>
				}
			</tbody>
		</table>
	}

} {
	@sidebar.userMenu(userId)
}