@(id: Long, userForm: Form[User])

@import helper._
@import helper.twitterBootstrap._

@main("Edit user") {
	
	@if(userForm.hasGlobalErrors()) {
    	<div class="alert-message error">
            <strong>Oops!</strong> @userForm.globalError().message
        </div>
    }

	@form(routes.Users.update(id)) {

		<input name="id" type="hidden" value="@id" />

		@inputText(userForm("username"), '_label -> "Username")

		@inputPassword(userForm("password"), '_label -> "Password")

		@inputText(userForm("fullname"), '_label -> "Full name")

		@inputText(userForm("email"), '_label -> "Email")

		@checkbox(userForm("active"), '_label -> "Active")

		<input class="btn btn-primary" type="submit" value="Submit">
		<a class="btn btn-danger" href="@routes.Users.all()">Cancel</a>

	}
} {
	@sidebar.adminMenu()
}