@(projectId: Long, assignmentForm: Form[ProjectAssignment])

@import helper._
@import helper.twitterBootstrap._

@main("Assign a user to a project", sidemenu = menus.adminMenu()) {
	
	@if(assignmentForm.hasGlobalErrors()) {
    	<div class="alert-message error">
            <strong>Oops!</strong> @assignmentForm.globalError().message
        </div>
    }
	
	@form(routes.ProjectAssignments.create(projectId)) {
    	
    	@select(assignmentForm("user.id"), options(User.options), '_label -> "Project member")
    	
    	@inputDate(assignmentForm("beginDate"), '_label -> "Begin date")
    	
    	@inputDate(assignmentForm("endDate"), '_label -> "End date")
    	
    	@inputText(assignmentForm("hourlyRate"), '_label -> "Hourly rate")
	
		<input class="btn btn-primary" type="submit" value="Submit">
		<a class="btn btn-danger" href="@routes.Projects.all()">Cancel</a>
	  	
	}

}