@(projects: List[Project])

@import helper._
@import be.objectify.deadbolt.views.html._
@import be.objectify.deadbolt.utils.TemplateUtils._

@main("Projects", sidemenu = menus.adminMenu()) {

	@if(flash.containsKey("error")) {
    	<div class="alert-message error">
            <strong>Oops!</strong> @flash.get("error")
        </div>
    }
	@if(projects.isEmpty) {
	    <div class="alert-message warning">
            No projects!
        </div>
	} else {
		<table>
			<thead>
				<tr>
					<th>Project</ths>
					<th>Project member</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				@for(project <- projects) {
				<tr>
					<td><a href="@routes.Projects.read(project.id)">@project.name</a> @if(!project.active) { <i>(Not active)</i> }</td>
					<td>@if(project.active) { <a class="btn" href="@routes.ProjectAssignments.create(project.id)">Add project member</a> }</td>
					<td><a class="btn" href="@routes.Projects.edit(project.id)">Edit</a></td>
					<td>@form(routes.Projects.delete(project.id)) {	<input class="btn btn-danger" type="submit" value="Delete">	}</td>
				</tr>
					@for(assignment <- project.assignments) {
					<tr>
						<td></td>
						<td><a href="@routes.Users.read(assignment.user.id)">@assignment.user.fullname</a> @if(!assignment.active) { <i>(Not active) }</td>
						<td><a class="btn" href="@routes.ProjectAssignments.edit(project.id, assignment.id)">Edit</a></td>
						<td>@form(routes.ProjectAssignments.delete(assignment.id)) { <input class="btn btn-danger" type="submit" value="Delete"> }</td>
					</tr>
					}
				}
			</tbody>
		</table>
	}
	
	@restrict(la(as("admin"), as("customerManager"))) {
	<a href="@routes.Projects.add()" class="btn btn-primary">Add Project</a>
	}

}