@(projects: List[Project])

@import helper._
@import be.objectify.deadbolt.views.html._
@import be.objectify.deadbolt.utils.TemplateUtils._

@main("Projects", sidemenu = menus.adminMenu()) {

	@if(flash.containsKey("error")) {
    	<div class="alert-message error">
            <strong>Oops!</strong> @flash.get("error")
        </div>
    }
	@if(projects.isEmpty) {
	    <div class="alert-message warning">
            No projects!
        </div>
	} else {
		<ul>
			@for(project <- projects) {
		  		<li>
		  			<a href="@routes.Projects.edit(project.id)">@project.name</a>
		  			@if(project.active) {
		  				<a class="btn" href="@routes.ProjectAssignments.create(project.id)">Add project member</a>
		  			} else {
		  				<i>Project is not active</i>
		  			}
		  			@form(routes.Projects.delete(project.id)) {
		  				<input class="btn btn-danger" type="submit" value="Delete project">
		  			}
		  			
		  			@if(project.assignments.isEmpty) {
		  			    <div class="alert-message warning">
           	 				No project members!
        				</div>
		  			} else {
		  				<ul class="assignments">
		  					@for(assignment <- project.assignments) {
		  						<li>
		  							<a href="@routes.ProjectAssignments.edit(project.id, assignment.id)">@assignment.user.fullname</a> @if(!assignment.active) {<i>Not active</i>} 
		  							
		  							@form(routes.ProjectAssignments.delete(assignment.id)) {
		  								<input class="btn btn-danger" type="submit" value="Delete">
		  							}
		  						</li>
		  					}
		  				</ul>
		  			}
		  		</li>
	  		}
		</ul>
	}
	
	@restrict(la(as("admin"), as("customerManager"))) {
	<a href="@routes.Projects.add()" class="btn btn-primary">Add Project</a>
	}

}