@(projects: List[Project])

@import helper._

@main("Projects") {

	<h1>Projects</h1>
	
	<ul>
		@for(project <- projects) {
	  		<li>
	  			<a href="@routes.Projects.edit(project.id)">@project.name</a>
	  			@if(!project.assignments.isEmpty) {
	  				<ul>
	  					@for(assignment <- project.assignments) {
	  						<li>
	  							<a href="@routes.ProjectAssignments.edit(project.id, assignment.id)">@assignment.user.fullname</a> 
	  							
	  							@form(routes.ProjectAssignments.delete(assignment.id)) {
	  								<input type="submit" value="Delete">
	  							}
	  						</li>
	  					}
	  				</ul>
	  			}
	  				  			
	  			<a href="@routes.ProjectAssignments.create(project.id)">Add project member</a>
	  			@form(routes.Projects.delete(project.id)) {
	  				<input type="submit" value="Delete project">
	  			}
	  		</li>
  		}
	</ul>
	
	<a href="@routes.Projects.add()">Add Project</a>

}