@import helper._

@main("Edit password", sidemenu = menus.accountOptionsMenu()) {

	@if(flash.containsKey("error")) {
    	<div class="alert-message error">
            <strong>Oops!</strong> @flash.get("error")
        </div>
    }

	@form(routes.Users.updatePassword()) {

		<div class="clearfix" id="password-1_field">
    		<label for="password-1_field">Password</label>
    		<div class="input">
        		<input type="password" name="password-1">
    		</div>
		</div>

		<div class="clearfix" id="password-2_field">
    		<label for="password-2_field">Repeat password</label>
    		<div class="input">
        		<input type="password" name="password-2">
    		</div>
		</div>

		<input class="btn btn-primary" type="submit" value="Submit">
		<a class="btn btn-danger" href="@routes.Users.home()">Cancel</a>

	}

}