@(users: List[User])

@import helper._

@main("Users", sidemenu = menus.adminMenu()) {
	
	@if(flash.containsKey("error")) {
    	<div class="alert-message error">
            <strong>Oops!</strong> @flash.get("error")
        </div>
    }
	@if(users.isEmpty) {
    	<div class="alert-message warning">
            No users!
        </div>
	} else {
		<table>
			<thead>
				<tr>
					<th>Customer</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				@for(user <- users) {
				<tr>
					<td><a href="@routes.Users.read(user.id)">@user.fullname</a> @if(!user.active) { <i>Not active</i> }</td>
					<td><a class="btn" href="@routes.Users.edit(user.id)">Edit</a></td>
					<td>@form(routes.Users.delete(user.id)) { <input class="btn btn-danger" type="submit" value="Delete"> }</td>
				</tr>
				}
			</tbody>
		</table>
	}

	<a href="@routes.Users.add()" class="btn btn-primary">Add User</a>
	
}