@(customerForm: Form[Customer])

@import helper._
@import helper.twitterBootstrap._

@customerManagerField(field: Field, className: String = "manager") = {
	@input(field, '_label -> "Customer manager", '_class -> className) { (id, name, value, _) =>
		<select id="@id" name="@name">
    		@User.options.map { v =>
        		<option value="@v._1" @(if(value == Some(v._1)) "selected" else "")>@v._2</option>
        	}
    	</select>
    	<a class="removeManager btn danger">Remove</a>
	}
}

@script = {
	<script type="text/javascript" src="@routes.Assets.at("javascripts/multiple-customer-managers.js")"></script>
}

@main("Create customer", script) {
	
	@if(flash.containsKey("error")) {
    	<div class="alert-message error">
            <strong>Oops!</strong> @flash.get("error")
        </div>
    }
	
	@form(routes.Customers.create(), 'id -> "form") {
		
		@inputText(customerForm("name"), '_label -> "Name")
		
		@inputText(customerForm("code"), '_label -> "Code")
		
		@textarea(customerForm("description"), args = '_label -> "Description", 'rows -> 3, 'cols -> 50)
		
		<div class="managers">

			@repeat(customerForm("customerManagers"), min = 0) { customerManager =>
				@customerManagerField(customerManager("id"))
            }
			
			@**
             * Keep an hidden block that will be used as template for Javascript copy code
             **@
			@customerManagerField(customerForm("customerManagers[x].id"), className = "manager_template")
			
			<div class="input">
					<a class="addManager btn success">Add a customer manager</a>
			</div>
	
			<input class="btn btn-primary" type="submit" value="Submit">
			<a class="btn btn-danger" href="@routes.Customers.all()">Cancel</a>
		</div>
	}
	
} {
	@sidebar.adminMenu()
}