@(title: String, script: Html = Html(""))(content: Html)(sidebar: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>NoTime - @title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/jquery-ui-1.8.18.custom.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
		<script type="text/javascript" data-main="@routes.Assets.at("javascripts/init")" src="@routes.Assets.at("javascripts/require.js")"></script>
		@script
    </head>
    <body>
    	<div class="site">
        	<header>
        		<hgroup>
        			<h1><a href="@routes.Application.index()">NoTime</a></h1>
        			<h5>@title</h5>	
        		</hgroup>
        		<nav>
        			<ul>
        				<li><a href="@routes.Application.logout()">Log Out</a></li>
        			</ul>
        		</nav>
        	</header>
        	<section>
            	@content
        	</section>
        	<aside class="sidebar">
        		@sidebar
    		</aside>
        	<footer>NoTime is brought to you by <a href="" target="_blank">Leonard Punt</a> & <a href="http://lunatech-research.com" target="_blank">Lunatech</a></footer>
        </div>        
    </body>
</html>
