@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    </head>
    <body>
    	<a href="@routes.Users.all()">Users</a>
    	<a href="@routes.Customers.all()">Customers</a>
    	<a href="@routes.Projects.all()">Projects</a>
        @content
    </body>
</html>
